.header {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.title-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0.25rem;
    padding: 0 20px;
}

.divider {
    border-bottom: 1px solid #e5e7eb;
    margin: 0 auto 0.5rem auto;
    max-width: 600px;
}

.post-meta {
    font-size: 0.875rem;
    color: #4b5563;
    text-align: center;
    margin-bottom: 1rem;
}

.article {
    color: #000000;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    line-height: 1.6;
}

.article p { margin: 0.5rem 0.75; }
.article h1 {margin-top: 1em;}
.article h2 { margin: 0.75rem 0 0.25rem; font-size: 1.25rem; font-weight: 800; }
.article h3 { margin: 0.75rem 0 0.25rem; font-weight: 600; }
.article ul { margin: 0.25rem 0, 0.25rem; padding-left: 0.5rem; }
.article ul.list-none { list-style: none; padding-left: 0; }